<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <h1 id="logo">Loja</h1>
        <ul>
            <li>ENTRAR</li>
            <li>FAVORITOS</li>
            <li>CARRINHO</li>
        </ul>
    </nav>
    {{{body}}}
    <footer>
        <p>Site criado por Emerson Thiago</p>
    </footer>
</body>

</html>