<h1>Edite seu livro:</h1>
<form action="" method="post" class="form">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" id="title" placeholder="Digite o título" value="{{book.title}}">
    </div>
    <div class="form-control">
        <label for="page">Número de páginas:</label>
        <input type="text" name="page" id="page" placeholder="Digite o número de páginas" value="{{book.page}}">
    </div>
    <input type="submit" value="Editar">
</form>