#divP {
  background-color: lightblue;
  text-align: center;
  width: 90%;
  margin: auto;  
  padding: 20px;
  border-radius: 20px;
}

#divF {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}